body{
    font-family: 'Source Serif 4';
    margin: 0;
    padding: 0;
}

.sec1{

}

.name{
    color: orange;
}

.about{
    text-align: justify;
}

.about2{
    color: rgb(197, 94, 35);
}
.intro{
    width: 30%;
   float: left;
   margin: 5%;
}

.img1{
    width: 35%;
   float: left;
   margin: 5%;
}

.img1 img{
    max-width: 100%;
}

.varsity{
color: rgb(197, 94, 35);
}